{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ConnectedIn</title>

        <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "styles/main.css" %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class=""><a href="{% url 'index' %}">{{user.perfil.nome}}</a></li>
          <li class=""><a href="/logout/">Logout</a></li>
        </ul>
        <h3 class="text-muted">ConnectedIn</h3>
      </div>

      <div class="row content">
            {% block body %}

            {% endblock %}        
      </div>
    </div>
    <script src="{% static "scripts/vendor/bootstrap-min.js" %}"></script>
  </body>
</html>